.page {
    width: 100%;
    height: 100%;
    background: lightgrey;
    padding: 10px;
}

.page-span {
  flex: 1;
}

.page-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.page-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}

#netcol {
    position: relative;
}
#svgdiv {
    height: 100%;
}
#slidecol {
    margin: 10px;
    width: 50px;
}
#tablecol {
    text-align: center;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
}
#table-1 {
    margin-top: 5px;
}
.hidden-row {
    visibility: hidden;
}
.hidden {
    visibility: hidden;
}
.no-display {
    display: none;
}
#svggraph {
    width: 100%;
    height: 100%;
}
#zoom-svggraph {
    pointer-events: none;
}
#sliderline {
    stroke-width: 2;
    stroke: black;
    stroke-linecap: round;
}
#slidercircle {
    stroke: lightgrey;
    fill: grey;
    cursor: move;
}
#svgslider {
    width: 100%;
    height: 100%;
}
.zoom-rect {
    fill: none;
    stroke-width: 3;
    stroke: red;
}
.node {
    stroke: black;
    stroke-width: 2;
    fill: red;
    cursor: move;
    transition: stroke-width 0.2s;
    filter: drop-shadow(3px 3px 2px red);
}

.node:hover {
    stroke: grey;
    stroke-width: 3;
}

.dragging {
    cursor: move;
}

.node-label {
    text-anchor: middle;
    pointer-events: none;
}
.arrow {
    stroke: grey;
    fill: none;
    marker-end: url(#arrow-head);
}
.arrow-head-path {
    fill: grey;
}

#tools-area {
    position: absolute;
    right: 20px;
    bottom: 0px;
    z-index: 1;
}

.toolbox {
    margin-bottom: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    background: rgba(255,255,255,0.6);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 9px;
    text-align: center;
    color: #777;
}

.toolbox-title {
    margin-left: 15px;
    margin-right: 15px;
}
.window-control {
    cursor: pointer;
    float: right;
    margin-left: 15px;
    margin-top: 4px;
}

hr {
    margin: 2px;
}
