#netcol {
    background: lightgrey;
    width: 70%;
    position: relative;
}
#tracescol {
    background: grey;
    width: 30%;
    display: flex;
}
#slidecol {
    width: 50px;
    background: grey;
}
#tablecol {
    background: grey;
    flex-grow: 1;
}
#table-1 {
    margin-top: 5px;
}
#svggraph {
    max-width: 100%;
    max-height: 100%;
}
#zoom-svggraph {
    pointer-events: none;
}
#sliderline {
    stroke-width: 2;
    stroke: black;
    stroke-linecap: round;
}
#slidercircle {
    stroke: lightgrey;
    fill: grey;
    cursor: move;
}
#svgslider {
    width: 100%;
    height: 100%;
}
.zoom-rect {
    fill: none;
    stroke-width: 3;
    stroke: red;
}
.node {
    stroke: black;
    stroke-width: 2;
    fill: red;
    cursor: move;
    transition: stroke-width 0.2s;
    filter: drop-shadow(3px 3px 2px red);
}

.node:hover {
    stroke: grey;
    stroke-width: 3;
}

.dragging {
    cursor: move;
}

.node-label {
    text-anchor: middle;
    pointer-events: none;
}
.arrow {
    stroke: grey;
    fill: none;
    marker-end: url(#arrow-head);
}
.arrow-head-path {
    fill: grey;
}

.zoom-control-box {
    padding-top: 6px;
    padding-bottom: 6px;
    background: rgba(255,255,255,0.6);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 9px;
    text-align: center;
    color: #777;
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 1;
}

hr {
    margin: 2px;
}
